# CONTENT BASED RECOMMENDER SYSTEM

In [58]:
import pandas as pd

#### READ DATA

In [59]:
df = pd.read_csv("cleaned_movie.csv")
df.head()

,id,title,release_date,popularity,adult,vote_average,vote_count,Rogue State,Odyssey Media,Comedy,...,tl,tr,uk,ur,uz,vi,wo,xx,zh,zu
0,862,Toy Story,1995-10-30,21.946943,0,7.7,5415.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
1,8844,Jumanji,1995-12-15,17.015539,0,6.9,2413.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,15602,Grumpier Old Men,1995-12-22,11.712900,0,6.5,92.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
3,31357,Waiting to Exhale,1995-12-22,3.859495,0,6.1,34.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
4,11862,Father of the Bride Part II,1995-02-10,8.387519,0,5.7,173.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0

#### WE WILL ASSUME A USER RATING TO BUILD THE RECOMMENDER ENGINE.

In [60]:
user_rating = {'Toy Story':7,'Get Out(2017 en)':5,'Iron Man(2008 en)':8,'Django Unchained':1,'The Conjuring':9,
              'The Conjuring 2':10,'Titanic(1997 en)':9,'Executive Decision':9,'Leap Year':8,'Zootopia':10,
               'What Happens in Vegas':9,'The Parent Trap(1998 en)':9,'The Shawshank Redemption':3,
              'Baywatch':5,'Johnny English':8,'Inside Out(2015 en)':7,'Toy Story 3':8}

#### MAKE A SEPARATE DATAFRAME FOR WATCHED AND UNWATCHED MOVIES

In [61]:
watched = df.loc[df["title"].isin(list(user_rating.keys()))]
not_watched = df.loc[~df["title"].isin(list(user_rating.keys()))]
watched

,id,title,release_date,popularity,adult,vote_average,vote_count,Rogue State,Odyssey Media,Comedy,...,tl,tr,uk,ur,uz,vi,wo,xx,zh,zu
0,862,Toy Story,1995-10-30,21.946943,0,7.7,5415.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
266,278,The Shawshank Redemption,1994-09-23,51.645403,0,8.5,8358.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
418,2320,Executive Decision,1996-03-15,13.106291,0,5.8,261.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
5500,9486,Johnny English,2003-04-06,8.739991,0,6.0,875.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
10792,9029,What Happens in Vegas,2008-05-07,10.054226,0,5.8,949.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
13187,10193,Toy Story 3,2010-06-16,16.966470,0,7.6,4710.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
17321,68718,Django Unchained,2012-12-25,19.785025,0,7.8,10297.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
18410,138843,The Conjuring,2013-07-18,14.901690,0,7.4,3169.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
31590,269149,Zootopia,2016-02-11,26.024868,0,7.7,4961.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
34177,259693,The Conjuring 2,2016-05-13,14.767317,0,7.0,2018.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
37927,339846,Baywatch,2017-05-12,35.637691,0,6.1,1829.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
41488,419430,Get Out(2017 en),2017-02-24,36.894806,0,7.2,2978.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
41859,150540,Inside Out(2015 en),2015-06-09,23.985587,0,7.9,6737.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
41889,1726,Iron Man(2008 en),2008-04-30,22.073099,0,7.4,8951.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
44535,9820,The Parent Trap(1998 en),1998-07-28,7.768828,0,6.8,768.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
45018,597,Titanic(1997 en),1997-11-18,26.889070,0,7.5,7770.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

#### A MATRIX FOR GENRE AND LANGUAGE WATCHED BY THE USER

In [110]:
gen_lang_matrix = watched.iloc[:,7:]
gen_lang_matrix.head()

,Rogue State,Odyssey Media,Comedy,Adventure,Aniplex,War,Horror,Carousel Productions,The Cartel,Science Fiction,...,tl,tr,uk,ur,uz,vi,wo,xx,zh,zu
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
266,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
418,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
5500,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
10792,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

#### GENERATING USER-SPECIFIC INFO

AFTER COLLECTING THE MOVIES WATCHED BY THE USER AND THE RATINGS FOR EACH OF THOSE MOVIES.
FIND THE SUM OF EACH COLUMN AND DIVIDE IT BY THE NUMBER OF ROWS.
THIS WILL GIVE THE WEIGHT OF EACH LANGUAGE AND GENRE

In [95]:
user_data = gen_lang_matrix.sum(axis=0)/gen_lang_matrix.shape[0]
user_data

Rogue State      0.00
Odyssey Media    0.00
Comedy           0.50
Adventure        0.25
Aniplex          0.00
                 ...
vi               0.00
wo               0.00
xx               0.00
zh               0.00
zu               0.00
Length: 121, dtype: float64

In [96]:
cols = gen_lang_matrix.columns

#### MULTIPLY THE WEIGHTS TO THE NOT_WATCHED MATRIX

In [100]:
not_watched_gen_lang_matrix = not_watched.iloc[:,7:]
not_watched_gen_lang_matrix.head()

,Rogue State,Odyssey Media,Comedy,Adventure,Aniplex,War,Horror,Carousel Productions,The Cartel,Science Fiction,...,tl,tr,uk,ur,uz,vi,wo,xx,zh,zu
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
5,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [101]:
not_watched_gen_lang_matrix = not_watched_gen_lang_matrix*user_data

In [102]:
not_watched_gen_lang_matrix

,Rogue State,Odyssey Media,Comedy,Adventure,Aniplex,War,Horror,Carousel Productions,The Cartel,Science Fiction,...,tl,tr,uk,ur,uz,vi,wo,xx,zh,zu
1,0.0,0.0,0.0,0.25,0.0,0.0,0.0000,0.0,0.0,0.0000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.5,0.00,0.0,0.0,0.0000,0.0,0.0,0.0000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.5,0.00,0.0,0.0,0.0000,0.0,0.0,0.0000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.5,0.00,0.0,0.0,0.0000,0.0,0.0,0.0000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.25,0.0,0.0,0.0000,0.0,0.0,0.0000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45407,0.0,0.0,0.0,0.25,0.0,0.0,0.0000,0.0,0.0,0.0000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45408,0.0,0.0,0.0,0.00,0.0,0.0,0.1875,0.0,0.0,0.0625,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45409,0.0,0.0,0.0,0.25,0.0,0.0,0.0000,0.0,0.0,0.0000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45410,0.0,0.0,0.0,0.00,0.0,0.0,0.0000,0.0,0.0,0.0000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45411,0.0,0.0,0.0,0.00,0.0,0.0,0.0000,0.0,0.0,0.0000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### CALCULATE SCORE FOR EACH MOVIE AND FIND THE TOP 10

In [103]:
not_watched_gen_lang_matrix["popularity"] = not_watched["popularity"]/not_watched["popularity"].max()
not_watched_gen_lang_matrix["total_score"] = not_watched_gen_lang_matrix.sum(axis = 1)
not_watched_gen_lang_matrix["id"] = not_watched["id"]

not_watched_gen_lang_matrix.head()

,Rogue State,Odyssey Media,Comedy,Adventure,Aniplex,War,Horror,Carousel Productions,The Cartel,Science Fiction,...,ur,uz,vi,wo,xx,zh,zu,popularity,total_score,id
1,0.0,0.0,0.0,0.25,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.031079,1.531079,8844
2,0.0,0.0,0.5,0.00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.021394,1.583894,15602
3,0.0,0.0,0.5,0.00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.007049,1.944549,31357
4,0.0,0.0,0.5,0.00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.015320,1.452820,11862
5,0.0,0.0,0.0,0.25,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.004678,2.129678,45325

In [104]:
recommend = not_watched_gen_lang_matrix[["id","total_score"]]
recommend.head()

      id  total_score
1   8844     1.531079
2  15602     1.583894
3  31357     1.944549
4  11862     1.452820
5  45325     2.129678

In [105]:
recommend = recommend.sort_values(by = "total_score",ascending = False)
recommend

           id  total_score
26650  211672     3.250000
16050   29694     2.941579
21174  177572     2.890602
9642    15213     2.885571
3418    26156     2.878702
...       ...          ...
32481  180240     0.000000
32231  381670     0.000000
37876  317965     0.000000
12784  174748     0.000000
32545  150736     0.000000

[45396 rows x 2 columns]

In [106]:
ids = recommend.iloc[:10,:]["id"]
ids = list(ids)

In [114]:
rec = df.iloc[0:0,:]
for i in range(len(ids)):
    rec = rec.append(df.loc[df["id"]==ids[i]],ignore_index = True)

In [115]:
rec

,id,title,release_date,popularity,adult,vote_average,vote_count,Rogue State,Odyssey Media,Comedy,...,tl,tr,uk,ur,uz,vi,wo,xx,zh,zu
0,211672,Minions,2015-06-17,547.488298,0,6.4,4729.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
1,29694,One of Our Dinosaurs Is Missing,1975-07-09,2.233131,0,5.6,16.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
2,177572,Big Hero 6,2014-10-24,213.849907,0,7.8,6289.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
3,15213,Everyone's Hero,2006-09-15,5.787334,0,5.9,55.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
4,26156,Hiding Out,1987-11-06,2.026942,0,5.2,14.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
5,11052,Yu-Gi-Oh! The Movie,2004-08-13,5.946085,0,5.4,71.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
6,17130,Crossroads(2002 en),2002-02-15,6.631356,0,4.7,161.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
7,39227,When in Rome(2002 en),2002-11-26,3.732537,0,5.6,72.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
8,32834,MVP: Most Valuable Primate,2000-08-11,0.632251,0,4.5,12.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
9,14207,The Librarian: Quest for the Spear,2004-12-05,6.992152,0,6.0,173.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0

### HERE WE HAVE THE PREDICTION MADE BASED ON THE USER RATINGS .

### THE PROBLEM WITH THIS APPROACH IS THAT THE RECOMMENDED MOVIES ARE BASED ON WHAT USER HAS ALREADY WATCHED. SO THE USER WILL NOT BE RECOMMENDED  NEW GENRES AND LANGUAGES

### ONE WAY TO SOLVE THIS PROBLEM IS TO USE COLLABORATIVE FILTERING, EITHER USER BASED OR ITEM BASED